extends ../layout

block headers

block content
  div
    a(href="/admin/users/new")
      | get username/password pair

  div
    a(href="/admin/nations/makeBad")
      | Set current list of nations as bad
