extends ../layout

block headers

block content
  form(method="post", action="/admin/login")
    div
      label(for="username")
        | Admin Username: 
      input(type="text", name="username")

    div
      label(for="password")
        | Admin Username: 
      input(type="password", name="password")

    div
      input(type="submit", value="Submit")
