extends layout

block headers

block content
  div
    form(action='/feeders', method='post')
      input(type='submit', value='Get Feeder Nation')

    form(action='/sinkers', method='post')
      input(type='submit', value='Get Sinker Nation')
