extends layout

block headers

block content
  form(method="post", action="/login")
    .input
      label(for="username")
        | Username:
      input(type="text", name="username")

    .input
      label(for="password")
        | Password:
      input(type="password", name="password")

    .input
      input(type="submit", value="Log In")
