@import "bootstrap.min.css"
@import "bootstrap-responsive.min.css"

html, body {
  height: 100%;
}
.margin-auto {
  margin: auto;
}
.center-text {
  text-align: center;
}
.require-js {
  display: none;
}
.navbar-static-top {
  margin-bottom: 20px;
}
.navbar-text {
  padding: 0 20px;
}


#NSdiv {height: 100%;}
#NSdiv iframe {height:1000px; width:100%}
