extends ../application.html

block content
  a.btn(href='/nations/new') Recruit From Feeders!

  //- Recruitable Nations
  h2 Recruitable Nations: #{recruitableCount}
  ul
    - _.forEach(recruitableList, function(nation){
        li= nation
    - });
